body{
    background-image: url(https://media.discordapp.net/attachments/1017125894374043689/1143221986970054787/Untitled-2.jpg?width=1177&height=662);
    background-repeat: no-repeat;
    background-size: cover;
}